@font-face {
  font-display: swap;
  font-family: Postoni;
  font-weight: 700;
  src: url(https://www.washingtonpost.com/wp-stat/assets/fonts/PostoniWide-Bold.woff2);
}

@font-face {
  font-display: swap;
  font-family: Postoni;
  font-weight: 300;
  src: url(https://www.washingtonpost.com/wp-stat/assets/fonts/PostoniWide-Regular.woff2);
}

@font-face {
  font-display: swap;
  font-family: Franklin;
  font-weight: 700;
  src: url(https://www.washingtonpost.com/wp-stat/assets/fonts/ITC_Franklin-Bold.woff2);
}

@font-face {
  font-display: swap;
  font-family: Franklin;
  font-weight: 300;
  src: url(https://www.washingtonpost.com/wp-stat/assets/fonts/ITC_Franklin-Light.woff2);
}

:root {
  --header-bg-color: #1f1f1f;
  --border-color: #e9e9e9;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Header */
input {
  display: none;
}

header {
  height: 70px;

  background-color: var(--header-bg-color);
  text-align: center;
}

/* buttons */
.buttons-container {
  display: flex;

  height: 100%;
}

.buttons {
  display: flex;

  height: 40px;
  margin: auto;
}

/* color buttons */
.text-buttons {
  overflow: hidden;

  height: 100%;
  margin: auto;

  border: 1px solid white;
  border-radius: 5px;

  font-family: Franklin, sans-serif;
}

.text-color-buttons {
  margin-right: 20px;

  font-size: 25px;
}

.text-button {
  position: relative;
  float: left;

  display: flex;

  height: 100%;

  cursor: pointer;
}

.text-color-buttons__black {
  background-color: white;
  color: var(--header-bg-color);
}

.text-color-buttons__white {
  color: white;
}

.text-button__text {
  margin: auto;
}

/* size buttons */
.text-size-buttons {
  margin-right: 20px;

  color: white;
}

.text-size-button__first {
  position: relative;
  top: 4px;

  font-size: 15px;
}

.text-size-button__second {
  position: relative;
  top: 2px;

  border-right: 1px solid white;
  border-left: 1px solid white;

  font-size: 23px;
}

.text-size-button__third {
  font-size: 30px;
}

/* font buttons */
.text-font-buttons {
  color: white;
  font-size: 25px;
}

.text-font-button__first {
  position: relative;
  top: 2px;

  border-right: 1px solid white;
}

.text-font-button__first .first-letter {
  font-family: Postoni, sans-serif;
}

.text-font-button__first .second-letter {
  font-family: Franklin, sans-serif;
}

.text-font-button__second .first-letter {
  font-family: Oswald, sans-serif;
}

.text-font-button__second .second-letter {
  font-family: Raleway, sans-serif;
}

/* logo */

.header__logo {
  position: absolute;
  right: 0;

  margin: auto;

  fill: white;
}

/* Main news */
main {
  border-top: 1px solid var(--text-color);

  background-color: var(--bg-color);
}

#black-text-color:checked ~ main {
  --bg-color: white;
  --text-color: #1f1f1f;
  --inactive-text-color: #494747;
  --link-color: #2d51c1;
}

#white-text-color:checked ~ main {
  --bg-color: #1f1f1f;
  --text-color: white;
  --inactive-text-color: #efebeb;
  --link-color: #1475cd;
}

#first-text-size:checked ~ main {
  font-size: 15px;
}

#second-text-size:checked ~ main {
  font-size: 23px;
}

#third-text-size:checked ~ main {
  font-size: 30px;
}

#first-text-font:checked ~ main {
  --title-font-family: Postoni;
  --title-bold-font: 700;
  --text-font-family: Franklin;
}

#second-text-font:checked ~ main {
  --title-font-family: Oswald;
  --title-bold-font: 500;
  --text-font-family: Raleway;
}

.container {
  display: grid;
  grid-gap: 32px;

  margin: 0 auto;
}

.main-news {
  display: grid;
  grid-auto-flow: dense;
  grid-gap: 32px;
  grid-template-rows: max-content;
}

/* news section */
.main-news__section {
  position: relative;

  width: 100%;
  height: 100%;
}

.date {
  position: relative;

  width: 100%;

  color: var(--text-color);
  font-family: var(--text-font-family), sans-serif;
  font-size: 1.333em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.date:before {
  position: absolute;
  top: 0.666em;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: var(--text-color);

  content: '';
}

.date-text {
  position: relative;

  display: inline-block;

  padding: 0 8px;

  background-color: var(--bg-color);
}

.news-section__title,
.news-section__image-subtext,
.news-section__text {
  word-wrap: break-word;
}

h2 {
  margin: 0;

  font-size: inherit;
}

.news-section__title-text {
  display: block;

  margin: 0;

  color: var(--text-color);
  font-family: var(--title-font-family), sans-serif;
  font-size: 1.333em;
  font-weight: var(--title-bold-font);
  line-height: 1.05;
  text-decoration: none;
}

#first-text-size:checked ~ main .news-section__title_size-lg {
  font-size: 32px;
}

#second-text-size:checked ~ main .news-section__title_size-lg {
  font-size: 40px;
}

#third-text-size:checked ~ main .news-section__title_size-lg {
  font-size: 45px;
}

.news-section__title-text:hover {
  color: var(--link-color);
}

.news-section__title-text:first-letter {
  font-size: 1.6em;
}

.news-section__image {
  width: 100%;

  cursor: pointer;
}

.news-section_image-hide .news-section__image {
  display: none;
}

.news-section_image-left .news-section__image {
  float: left;

  width: 50%;
  margin-right: 20px;
}

.news-section__image-subtext {
  color: var(--inactive-text-color);
  font-family: var(--text-font-family), sans-serif;
  font-size: 1em;
}

.news-section_image-center-sm .news-section__image-subtext {
  display: none;
}

.news-section__text {
  margin-top: 10px;

  color: var(--inactive-text-color);
  font-family: var(--text-font-family), sans-serif;
  font-size: 1em;
  line-height: 1.2;
}

.news-section__by-whom {
  margin-top: 10px;

  color: var(--inactive-text-color);
  font-family: var(--text-font-family), sans-serif;
  font-size: 0.8em;
}

/* guide */
.news-section__title_guide {
  margin-top: 16px;

  font-family: var(--text-font-family), sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
}

.guide {
  padding: 0;

  color: var(--text-color);
  font-size: 0.867em;
  list-style: none;
}

.guide__item {
  margin-bottom: 5px;
}

.guide__item::before {
  margin-right: 5px;

  color: #aaa;
  content: '\25C6';
}

.guide__item-link {
  color: var(--text-color);
  text-decoration: none;
}

.guide__item-link:hover {
  color: var(--link-color);
}

/* Sidebar */
.sidebar {
  position: relative;

  display: grid;
  grid-gap: 32px;
}

.sidebar__title {
  margin: 0 0 -16px;

  color: var(--text-color);
  font-family: var(--text-font-family), sans-serif;
  font-size: 1.667em;
  font-weight: 700;
}

.opinion {
  position: relative;
}

.opinion__text {
  display: block;

  color: var(--text-color);
  font-family: var(--title-font-family), sans-serif;
  font-size: 1.267em;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
}

.opinion__text:hover {
  color: var(--link-color);
}

.opinion__text:first-letter {
  font-size: 1.3em;
  font-weight: 700;
}

.opinion__by-whom {
  margin-top: 10px;

  color: var(--inactive-text-color);
  font-family: var(--text-font-family), sans-serif;
  font-size: 0.8em;
}

.opinion__image {
  float: right;

  margin-left: 12px;

  cursor: pointer;
}

/* MAXIMUM */
@media screen and (min-width: 1400px) {
  .container {
    grid-template-columns: 4fr 1fr;

    width: 1288px;
    padding: 40px;
  }

  .opinion__image {
    width: 70px;
  }

  .bd-left-mx:before {
    position: absolute;
    left: -16px;

    height: calc(100% + 32px);

    border-left: 1px solid var(--border-color);

    content: '';
  }

  .bd-left-mx.bottom-mx:before {
    top: -16px;

    height: calc(100% + 16px);
  }

  .main__sidebar.bd-left-mx:before {
    height: 100%;
  }

  .bd-top-mx:after {
    position: absolute;
    top: -16px;
    left: 0;

    width: 100%;

    border-top: 1px solid var(--border-color);

    content: '';
  }
}

/* MAXIMUM AND LARGE */
@media screen and (min-width: 1150px) {
  .text-button {
    width: 45px;
  }

  .header__logo {
    top: 10px;

    width: 260px;
    height: 40px;
  }

  .main-news {
    grid-template-columns: repeat(4, 1fr);
  }

  .date {
    grid-column-end: span 4;
  }

  .main-news__section {
    order: var(--order-mx-lg);
    grid-column-end: span var(--c-span-mx-lg);
    grid-column-start: var(--c-start-mx-lg);
    grid-row-end: span var(--r-span-mx-lg);
  }

  .news-section__title_size-md {
    font-size: 1.6em;
  }

  .news-section_image-center-mx-lg-md .news-section__title-text {
    margin-top: 10px;
  }
}

/* LARGE */
@media screen and (min-width: 1150px) and (max-width: 1399px) {
  .container {
    width: 1024px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .opinion__image {
    width: 100px;
  }

  .bd-left-lg:before {
    position: absolute;
    left: -16px;

    height: calc(100% + 32px);

    border-left: 1px solid var(--border-color);

    content: '';
  }

  .bd-left-lg.bottom-lg:before {
    top: -16px;

    height: calc(100% + 16px);
  }

  .bd-top-lg:after {
    position: absolute;
    top: -16px;
    left: 0;

    width: 100%;

    border-top: 1px solid var(--border-color);

    content: '';
  }
}

/* LARGE AND MEDIUM */
@media screen and (min-width: 900px) and (max-width: 1399px) {
  .container {
    grid-template-columns: 1fr;
  }

  .date {
    grid-column-end: span 4;
  }

  .sidebar {
    grid-template-columns: repeat(3, 1fr);
  }

  .sidebar__title {
    grid-column-end: span 3;
  }
}

/* MEDIUM */
@media screen and (min-width: 900px) and (max-width: 1149px) {
  .text-button {
    width: 45px;
  }

  .header__logo {
    top: 7px;

    width: 250px;
    height: 40px;
  }

  .container {
    width: 760px;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .main-news {
    grid-template-columns: repeat(3, 1fr);
  }

  .main-news__section {
    order: var(--order-md);
    grid-column-end: span var(--c-span-md);
    grid-column-start: var(--c-start-md);
    grid-row-end: span var(--r-span-md);
  }

  .news-section__title_size-md {
    font-size: 1.6em;
  }

  .news-section_image-center-mx-lg-md .news-section__title-text {
    margin-top: 10px;
  }

  .opinion__image {
    width: 75px;
  }

  .bd-left-md:before {
    position: absolute;
    left: -16px;

    height: calc(100% + 32px);

    border-left: 1px solid var(--border-color);

    content: '';
  }

  .bd-left-md.bottom-md:before {
    top: -16px;

    height: calc(100% + 16px);
  }

  .bd-left-md.bd-down-md:before {
    height: 100%;
  }

  .bd-top-md:after {
    position: absolute;
    top: -16px;
    left: 0;

    width: 100%;

    border-top: 1px solid var(--border-color);

    content: '';
  }

  .bd-top-md.bd-center-md:after {
    left: -32px;

    width: calc(100% + 64px);
  }
}

/* SMALL */
@media screen and (min-width: 768px) and (max-width: 899px) {
  .text-button {
    width: 45px;
  }

  .header__logo {
    top: 7px;

    width: 180px;
    height: 30px;
  }

  .container {
    width: 628px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .sidebar {
    grid-template-columns: 1fr 1fr;
  }

  .sidebar__title {
    grid-column-end: span 2;
  }

  .opinion__image {
    width: 100px;
  }

  .bd-left-sm:before {
    position: absolute;
    left: -16px;

    height: calc(100% + 32px);

    border-left: 1px solid var(--border-color);

    content: '';
  }

  .bd-left-sm.bottom-sm:before {
    top: -16px;

    height: calc(100% + 16px);
  }

  .bd-top-sm:after {
    position: absolute;
    top: -16px;
    left: 0;

    width: 100%;

    border-top: 1px solid var(--border-color);

    content: '';
  }
}

/* SMALL AND EXTRA SMALL */
@media screen and (max-width: 899px) {
  .container {
    grid-template-columns: 1fr;
  }

  .main-news {
    grid-template-columns: 1fr;
  }

  .news-section_image-center-sm {
    display: flex;
    flex-direction: column;
  }

  .news-section .news-section__image {
    float: right;

    display: block;

    width: 166px;
    margin: 0 0 0 16px;
  }

  .news-section__image-subtext {
    display: none;
  }

  .news-section__text {
    display: none;
  }

  .news-section_image-center-sm .news-section__image {
    width: 100%;
    margin: 8px 0 5px;
  }

  .news-section_image-center-sm .news-section__image-subtext {
    display: block;
  }

  .news-section_image-center-sm .news-section__title-text {
    order: -1;
  }

  .news-section_image-center-sm .news-section__text {
    display: block;
  }

  .guide {
    display: block;
  }

  .news-section__title_guide {
    margin-top: 8px;
  }
}

/* EXTRA SMALL */
@media screen and (max-width: 767px) {
  .text-size-button__third {
    position: relative;
    top: -2px;
  }

  .text-font-button__second {
    position: relative;
    top: -2px;
  }

  .buttons {
    height: 35px;
  }

  .text-button {
    width: 35px;
  }

  .header__logo {
    top: 4px;

    width: 150px;
    height: 30px;
  }

  .container {
    grid-template-columns: 1fr;

    margin: 0 16px;
    padding: 30px 0 35px;
  }

  .sidebar {
    grid-template-columns: 1fr;
  }

  .opinion__image {
    width: 100px;
  }

  .bd-top-xs:after {
    position: absolute;
    top: -16px;
    left: 0;

    width: 100%;

    border-top: 1px solid var(--border-color);

    content: '';
  }
}

@media screen and (max-width: 600px) {
  .text-size-button__third {
    position: relative;
    top: -4px;
  }

  .text-font-button__first {
    position: relative;
    top: 0;
  }

  .text-font-button__second {
    position: relative;
    top: -5px;
  }

  .buttons {
    height: 30px;
    padding-top: 20px;
  }

  .text-button {
    width: 30px;
  }

  .header__logo {
    top: 3px;

    width: 150px;
    height: 30px;
  }
}
