body {
  margin: 0;
}

header {
  z-index: 10;

  padding: 0.15em 0 0.25em;

  background-color: #509a43;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-align: center;
}

/* Main */
.container {
  position: relative;

  overflow-x: hidden;

  height: calc(60vh + 1.3em + 90px);
  padding-top: 1.3em;
}

.pigs {
  position: relative;
}

.pigs,
.buttons {
  width: 90%;
  max-width: 540px;
  margin: auto;
}

.pig-info {
  position: absolute;
  top: 0;
  left: 0;

  visibility: hidden;

  width: 100%;
}

/* pig-info styles */
.image {
  position: relative;

  font-family: 'Montserrat', sans-serif;
}

.image img {
  width: 100%;
  height: 60vh;

  border-radius: 1em;

  object-fit: cover;
}

.image-info {
  position: absolute;
  bottom: 0.5em;
  left: min(0.5em, 5vw);

  color: white;
  font-size: 2.2em;
  text-shadow: 0 0 0.15em black;
}

.age {
  font-size: 0.7em;
}

/* buttons */
.buttons {
  display: flex;
  justify-content: space-around;

  margin-top: calc(60vh + 1.3em);
}

.buttons.invisible {
  display: none;
}

.action-button {
  display: flex;

  width: 4.2rem;
  height: 4.2rem;

  border: none;
  border-radius: 25%;

  transition: box-shadow 0.05s;

  background-color: white;
  box-shadow: 0 0 1rem 0.15rem rgba(42, 41, 41, 0.7);
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.image img,
.action-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.action-button:active {
  box-shadow: 0 0 1rem 0.1rem rgba(42, 41, 41, 0.3);
}

.action-button.super-like {
  background-color: rgb(42, 41, 41);
}

.icon {
  margin: auto;

  fill: var(--icon-color);
}

.dislike-icon {
  --icon-color: rgba(217, 76, 50, 0.95);
}

.super-like-icon {
  --icon-color: #fff313;
}

.like-icon {
  --icon-color: #509a43;
}

/* Removing pig-info */
.visible {
  visibility: visible;
}

.disliked {
  left: min(-25em, -100vw);

  transform: rotate(-45deg);
}

.liked {
  left: max(20em, 80vw);

  transform: rotate(45deg);
}

.disliked,
.super-liked,
.liked {
  top: min(-30em, -50vw);

  transition: all 1s ease-in-out;
}

.disliked .buttons,
.super-liked .buttons,
.liked .buttons {
  display: none;
}

/* desktop */
@media screen and (min-width: 400px) {
  .container {
    height: calc(60vh + 1.3em + 100px);
  }

  .image-info {
    font-size: 2.7em;
  }

  .action-button {
    width: 4.8rem;
    height: 4.8rem;

    font-size: 3.9rem;
  }

  .icon {
    width: 44px;
    height: 44px;
  }
}
