:root {
  --backround-color: white;
  --header-footer-text-color: #1f1f1f;
  --border-color: rgba(52, 52, 52, 0.4);

  --min-width: 45em;
  --min-gallery-height: 37em;

  --img-width: 35rem;
  --img-height: 20rem;
  --img-margin: 2.2rem;

  --panel-img-height: 25em;

  --first-indent: calc(50vw - 0.5 * var(--img-width));
  --next-indent: calc(0.8 * var(--img-width) + var(--img-margin));
}

html {
  background: var(--backround-color);
  color: var(--header-footer-text-color);
  font-family: sans-serif;
}

body {
  margin: 0;
}

/* Header */
header {
  position: fixed;

  z-index: 1;

  width: 100%;
  padding: 0.2em 0;

  border-bottom: 1px solid var(--border-color);

  background: var(--backround-color);
  font-size: 2.5em;
  text-align: center;
}

header::first-letter {
  color: red;
  font-family: "'Courier 10 Pitch'", serif;
  font-size: 1.3em;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  min-width: 30em;
  padding: 0.5em 0 0.6em;

  border-top: 1px solid var(--border-color);

  background: var(--backround-color);
  font-size: 1.1em;
}

.mails-info {
  float: left;

  margin-left: 2em;
}

.mail-address {
  margin: -0.2em 0 -0.54em;
}

.mail-address:first-of-type {
  margin-bottom: -0.7em;
}

.mail-address::first-letter {
  width: 5em;
  height: 1px;
  padding-right: 0.2em;

  color: var(--header-footer-text-color);
  font-size: 2em;
  vertical-align: middle;
}

.mail-address a {
  text-decoration: none;
}

.signature {
  position: absolute;
  right: 2em;
  bottom: 0.6em;
}

.signature a {
  text-decoration: none;
}

/* Gallery */
.gallery {
  position: absolute;

  overflow: hidden;

  width: 100%;
  min-width: var(--min-width);
  min-height: var(--min-gallery-height);
}

input {
  display: none;
}

.image-row {
  position: relative;

  height: var(--img-height);
  margin: max(6rem, calc(50vh - 0.5 * var(--img-height) - 3rem)) 0 2rem;

  transition: left 0.7s;

  font-size: 0;
  white-space: nowrap;
}

.image-row img {
  position: relative;
  bottom: calc(0.1 * var(--img-height));

  width: calc(0.8 * var(--img-width));
  height: calc(0.8 * var(--img-height));

  cursor: pointer;
  object-fit: cover;
  opacity: 0.7;
}

.inactive img {
  margin-right: var(--img-margin);
}

.active {
  position: relative;

  display: none;

  margin-right: var(--img-margin);
}

.active img {
  bottom: 0;

  width: var(--img-width);
  height: var(--img-height);

  box-shadow: 0.1rem 0.1rem 2rem 0.1rem rgba(39, 39, 43, 0.7);
  opacity: 1;
}

.active-name {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  width: var(--img-width);
  height: var(--img-height);

  background: rgba(0, 0, 0, 0.35);
  text-align: center;
}

.active-text {
  display: inline-block;

  width: 90%;
  height: 1em;
  margin-top: calc(0.5 * var(--img-height) - 0.5em);

  color: var(--backround-color);
  font-size: 3rem;
}

.active:hover .active-name {
  display: inline-block;
}

input#act-image-1:checked ~ .image-row .inactive:nth-child(1),
input#act-image-2:checked ~ .image-row .inactive:nth-child(3),
input#act-image-3:checked ~ .image-row .inactive:nth-child(5),
input#act-image-4:checked ~ .image-row .inactive:nth-child(7),
input#act-image-5:checked ~ .image-row .inactive:nth-child(9),
input#act-image-6:checked ~ .image-row .inactive:nth-child(11),
input#act-image-7:checked ~ .image-row .inactive:nth-child(13),
input#act-image-8:checked ~ .image-row .inactive:nth-child(15),
input#act-image-9:checked ~ .image-row .inactive:nth-child(17),
input#act-image-10:checked ~ .image-row .inactive:nth-child(19),
input#act-image-11:checked ~ .image-row .inactive:nth-child(21),
input#act-image-12:checked ~ .image-row .inactive:nth-child(23) {
  display: none;
}

input#act-image-1:checked ~ .image-row .active:nth-child(2),
input#act-image-2:checked ~ .image-row .active:nth-child(4),
input#act-image-3:checked ~ .image-row .active:nth-child(6),
input#act-image-4:checked ~ .image-row .active:nth-child(8),
input#act-image-5:checked ~ .image-row .active:nth-child(10),
input#act-image-6:checked ~ .image-row .active:nth-child(12),
input#act-image-7:checked ~ .image-row .active:nth-child(14),
input#act-image-8:checked ~ .image-row .active:nth-child(16),
input#act-image-9:checked ~ .image-row .active:nth-child(18),
input#act-image-10:checked ~ .image-row .active:nth-child(20),
input#act-image-11:checked ~ .image-row .active:nth-child(22),
input#act-image-12:checked ~ .image-row .active:nth-child(24) {
  display: inline-block;
}

input#act-image-1:checked ~ .image-row {
  left: var(--first-indent);
}

input#act-image-2:checked ~ .image-row {
  left: calc(var(--first-indent) - var(--next-indent));
}

input#act-image-3:checked ~ .image-row {
  left: calc(var(--first-indent) - 2 * var(--next-indent));
}

input#act-image-4:checked ~ .image-row {
  left: calc(var(--first-indent) - 3 * var(--next-indent));
}

input#act-image-5:checked ~ .image-row {
  left: calc(var(--first-indent) - 4 * var(--next-indent));
}

input#act-image-6:checked ~ .image-row {
  left: calc(var(--first-indent) - 5 * var(--next-indent));
}

input#act-image-7:checked ~ .image-row {
  left: calc(var(--first-indent) - 6 * var(--next-indent));
}

input#act-image-8:checked ~ .image-row {
  left: calc(var(--first-indent) - 7 * var(--next-indent));
}

input#act-image-9:checked ~ .image-row {
  left: calc(var(--first-indent) - 8 * var(--next-indent));
}

input#act-image-10:checked ~ .image-row {
  left: calc(var(--first-indent) - 9 * var(--next-indent));
}

input#act-image-11:checked ~ .image-row {
  left: calc(var(--first-indent) - 10 * var(--next-indent));
}

input#act-image-12:checked ~ .image-row {
  left: calc(var(--first-indent) - 11 * var(--next-indent));
}

.bubbles {
  position: relative;
  left: var(--first-indent);

  width: var(--img-width);

  text-align: center;
}

.bubble {
  display: inline-block;

  width: 1em;
  height: 1em;

  margin: 0 0.2em;

  border-radius: 50%;

  background: grey;
  opacity: 0.3;
}

input#act-image-1:checked ~ .bubbles .inactive:nth-child(1) .bubble,
input#act-image-2:checked ~ .bubbles .inactive:nth-child(2) .bubble,
input#act-image-3:checked ~ .bubbles .inactive:nth-child(3) .bubble,
input#act-image-4:checked ~ .bubbles .inactive:nth-child(4) .bubble,
input#act-image-5:checked ~ .bubbles .inactive:nth-child(5) .bubble,
input#act-image-6:checked ~ .bubbles .inactive:nth-child(6) .bubble,
input#act-image-7:checked ~ .bubbles .inactive:nth-child(7) .bubble,
input#act-image-8:checked ~ .bubbles .inactive:nth-child(8) .bubble,
input#act-image-9:checked ~ .bubbles .inactive:nth-child(9) .bubble,
input#act-image-10:checked ~ .bubbles .inactive:nth-child(10) .bubble,
input#act-image-11:checked ~ .bubbles .inactive:nth-child(11) .bubble,
input#act-image-12:checked ~ .bubbles .inactive:nth-child(12) .bubble {
  opacity: 0.9;
}

/* Panels */
.panel {
  position: absolute;

  visibility: hidden;

  overflow: hidden;

  width: 100%;
  min-width: var(--min-width);
  min-height: 100%;

  transition: background-color 0.5s;

  background: rgba(0, 0, 0, 0);
  color: white;
  opacity: 0;
}

.panel:target {
  visibility: visible;

  background: rgba(0, 0, 0, 0.88);
  opacity: 1;
}

.info {
  overflow: hidden;

  width: 80%;
  min-width: 44em;
  margin: calc(50vh - 0.5 * var(--panel-img-height) - 1.3em) auto 8em;

  transition: opacity 1s;

  opacity: 0;
}

.panel:target .info {
  opacity: 1;
}

.panel-image {
  display: inline-block;

  width: 60%;
  height: var(--panel-img-height);

  text-align: center;
}

.panel-image img {
  width: 100%;
  max-width: 50em;
  height: 100%;

  object-fit: cover;
}

.description {
  float: right;

  width: 35%;
}

.close {
  position: relative;
  top: -0.25em;
  float: right;

  color: white;
  font-size: 3em;
  text-align: right;
  text-decoration: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.description-text {
  display: block;

  margin-top: 2.5em;

  font-size: 1.3em;
  font-weight: bold;
}

.panel-name {
  display: block;

  margin-bottom: 0.8em;

  font-size: 2em;
  font-weight: normal;
}
